<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="./estilo.css" rel="stylesheet">
  <title>NextTênis</title>
</head>

<body>
<<<<<<< HEAD
    <header>
        <div class="area_logo">
            <a href="#"><img class="logo" src="./imagens/logo_next_tennis_h.jpg" alt=""></a>
=======
  <header>
    <div class="area_logo">
      <a href="#"><img class="logo" src="./imagens/logo_next_tennis_h.JPG" alt=""></a>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Masculino</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Feminino</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Marca</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Esporte / Estilo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./sobre.html">Quem Somos</a>
            </li>
          </ul>
>>>>>>> 2e060c83073a3d645402b4e8a17b39962256c355
        </div>
      </div>
    </nav>

  </header>

  <main>

    <div class="pai_sobre">
      <p class="pai_sobre_titulo">
      <h4>Sobre nós</h4>
      </p>Next Tennis é o maior e-commerce especializado em tênis do Brasil. Fundada em 2021 por estudantes do curso de
      Desenvolvimento Web Full Stack da conceituada escola Digital House, é uma loja on-line especializado em tênis que
      atendem todas as suas necessidades, desde uma simples caminhada em seus momentos de lazer ou caminhada, até
      modelos sofisticados e tecnológicos que atendem ao mais exigente atleta profissional, praticante de qualquer
      esporte.
    </div>

    <div class="detalhe_sobre_pai">
      <div class="detalhe_sobre_filho">
        <p>
        <h4>Missão</h4>Inspirar e transformar a vida das pessoas através do Esporte e Lazer</p>
      </div>

      <div class="detalhe_sobre_filho">
        <p>
        <h4>Visão</h4>Oferecer a melhor experiência de compra de um tênis ao consumidor</p>
      </div>

      <div class="detalhe_sobre_filho">
        <p>
        <h4>Valores</h4>Adrenalina, Espírito de Equipe, Inspiração e Foco</p>
      </div>

    </div>

  </main>

  <footer>
    <div class="rodape">
      ©2021 NextTênis seu próximo tênis está aqui !
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

</body>

</html>